{% extends "base.html" %}
{% block content %}
    <div>
        <form action="/add" method="get">
            <button type="submit">Add</button>
        </form>
        <form class="main-form" action="/delete" method="post">
            <label for="to_remove"></label><input type="text" id="to_remove" name="to_remove">
            <button type="submit">Delete</button>
        </form>
    </div>
    <table class="styled-table">
        <tr>
            <th>ID</th>
            <th>Feature One</th>
            <th>Feature Two</th>
            <th>Strategic Feature</th>
        </tr>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.feature_one }}</td>
            <td>{{ obj.feature_two }}</td>
            <td>{{ obj.feature_strat }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}