{% extends "base.html" %}
{% block content %}
    <div>
        <form action="/add" method="get">
            <button type="submit">Add</button>
        </form>
        <form class="main-form" action="/delete" method="post">
            <label for="to_remove"></label><input type="text" id="to_remove" name="to_remove">
            <button type="submit">Delete</button>
        </form>
    </div>
    <table class="styled-table">
        <tr>
            <th>ID</th>
            <th>sepal_length</th>
            <th>sepal_width</th>
            <th>petal_length</th>
            <th>petal_width</th>
            <th>flower_species</th>
        </tr>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.sepal_length }}</td>
            <td>{{ obj.sepal_width }}</td>
            <td>{{ obj.petal_length }}</td>
            <td>{{ obj.petal_width }}</td>
            <td>{{ obj.flower_species }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}