{% extends "base.html" %}

{% block title %}API Home{% endblock %}

{% block content %}
    <div>
        <a href="http://127.0.0.1:5000/add">
          <button>Add point</button>
        </a>
        <a href="http://127.0.0.1:5000/predict">
          <button>Predict point</button>
        </a>
    </div>
    <table class="styled-table">
        <tr>
            <th>ID</th>
            <th>sepal_length</th>
            <th>sepal_width</th>
            <th>petal_length</th>
            <th>petal_width</th>
            <th>flower_species</th>
            <th>DELETION</th>
        </tr>
        {% for obj in objects %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ obj.sepal_length }}</td>
            <td>{{ obj.sepal_width }}</td>
            <td>{{ obj.petal_length }}</td>
            <td>{{ obj.petal_width }}</td>
            <td>{{ obj.flower_species }}</td>
            <td>
                <form action="/delete/{{ obj.id }}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}