.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: Arial, sans-serif;
}

body {
  background-color: #7c7c7c;
}

th {
  background-color: #383838;
  color: #ffffff;
  text-align: left;
  padding: 12px;
}

td {
  border-bottom: 1px solid #dad9d9;
  padding: 12px;
}

tr:nth-of-type(even) {
  background-color: #008dc7;
}

tr:nth-of-type(odd) {
  background-color: #07f1f1;
}

tr:hover {
  background-color: #ffffff;
}

div {
  display: flex;
  align-content: center;
  align-items: center;
}

form {
  margin-right: 10px;
}

.main-form {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

label {
  font-size: 20px;
}

button {
  background-color: #820bc7;
  color: white;
  border: 1px solid #cccccc;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}


.container {
  position: relative;
  background: linear-gradient(to bottom, #007bff, #0056b3);
  width: 530px;
  margin: auto;
  padding: 20px;
  border: 1px solid #cbcbcb;
}

a {
  margin-right: 10px;
}

.a-home {
  position: absolute;
  top: 10px;
  right: 10px;
}

button:hover {
  background-color: #d209ff;
}

.other-form {
  margin-top: 50px;
}